<html>
  <body>
    <a href="/new">ADD A MESSAGE</a>
    <% messages.map((message) => {%>
    <p><%=message.text%></p>
    <p><%=message.username%></p>
    <p><%=message.date%></p>
    <a href="message?text=<%=message.text%>&username=<%=message.username%>&date=<%=message.date%>">VIEW</a>
    <% })%>
  </body>
</html>
